@charset "utf-8";

body{
	font-size: 0;
}

.contenedor-slider{
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: #F2F4F4;
}

.contenedor-slider img{
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: center;
	opacity: 0;
}

.contenedor-login{
	position: absolute;
	width: 90%;
	max-width: 400px;
	padding: 40px;
	background-color: #030b19;
	text-align: center;
	color: #FFFFFF;
}

.logo-escom-80{
	margin: 0 auto 20px;
	height: 80px;
}

.titulo-escom-sseis{
	color: #FFFFFF;
	font-size: 32px;
	margin-bottom: 40px;
}

.contenedor-login a{
	float: right;
}