@charset "utf-8";

body{
	font-size: 0;
}

.contenedor-slider{
	float: left;
	width: 70%;
	height: 100vh;
	background-color: #FFFFFF;
}

.contenedor-slider img{
	width: 100%;
	object-fit: cover;
	object-position: center;
	height: 100vh;
}

.contenedor-login{
	float: left;
	width: 30%;
	height: 100vh;
	background-color: #0b1521;
	text-align: center;
	color: #FFFFFF;
}

.contenedor-login img{
	position: absolute;
	top: 20px;
	right: 20px;
	height: 60px;
}

.titulo-escom-sseis{
	position: absolute;
	top: 100px;
	color: #FFFFFF;
	font-size: 32px;
}

.contenedor-form_login{
	width: 80%;
	overflow: hidden;
}

.contenedor-ask-login{
	position: absolute;
	bottom: 20px;
	right: 20px;
}